/*  your css code here. If applicable */
body{
	background-color:darkviolet;
	
}
#buttons{
	margin:190px 0px;
	display:flex;
	flex-flow:row-wrap;
	gap:22px;
}
.btn{
	background-color:darkviolet;
	color:white;
	padding:10px 10px;
}
.stop{
	background-color:darkviolet;
	color:white;
	padding:10px 10px;
}
	
